$c-base: #31343d
$c-light: #353841
$c-lighter: #3b3e48

$c-contrast: #ffffff
// $c-accent: #8087E0
$c-accent: #F95959
$c-accent-contrast: #37475B
$c-border: #9e9e9e
$c-cover-overlay: rgba(black, 0.2)

$c-text: black
$c-text-gray: #E4E4E4
$c-dropdown-text: rgba($c-text, 0.7)
$c-dropdown-text-selected: $c-text



$c-black: #000000

// Transitions
$transition: .15s cubic-bezier(0.4, 0, 0.2, 1)
$transition: .15s cubic-bezier(0.42,0,0.58,1)
$transition: .15s ease-in-out


$transition: .15s cubic-bezier(0.4, 0.0, 0.2, 1)

// Shadow-elevation#
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)



// header
$header-content-height: 100px
$header-padding: 10px
$header-height: $header-padding + $header-padding + $header-content-height
